Repository raulmahya123/cleanarsitekturJS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

asdasdasd
  .husky/pre-commit
Due: none

push uni testing
  test.js
Due: none

fixing
  .eslintrc.json
  testing/login-route.test.js
Due: none

asdasd
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov.info
  node_modules/.package-lock.json
Due: none

push
  node_modules/.package-lock.json
  package-lock.json
  package.json
Due: prettier --write

wqwe
  package.json
Due: prettier --write

addeed loger run
  model/account.js
  node_modules/.package-lock.json
  package-lock.json
  package.json
  test.js
Due: prettier --write

added
  coverage/clover.xml
  coverage/lcov-report/index.html
  package.json
  testing/login-route.test.js
Due: prettier --write

asd
  test.js
Due: none

asdas
  test.js
Due: none

as
  .eslintrc.json
  test.js
Due: none

ads
  test.js
Due: none

das
  .eslintrc.json
  model/account.js
  node_modules/.package-lock.json
  package-lock.json
  package.json
  src/model/account.js
  src/testing/login-route.test.js
  test.js
  testing/login-route.test.js
Due: eslint --fix, prettier --write

asdasd
  .eslintrc.json
  src/model/account.js
  src/modules/test.js
  src/testing/login-route.test.js
  test.js
Due: eslint --fix

asd
  .huskyrc.json
Due: none

sad
  src/modules/test.js
Due: eslint --fix

asdas
  .huskyrc.json
Due: none

asd
  package.json
  src/testing/login-route.test.js
Due: eslint --fix, prettier --write

uni testing succes
  src/helpers/http-response.js
  src/helpers/missing-params.js
  src/testing/login-route.test.js
  src/testing/login-router.js
Due: eslint --fix

push
  src/testing/login-route.test.js
Due: eslint --fix

asd
  README.md
  src/helpers/http-response.js
  src/helpers/unauthorized-error.js
  src/testing/login-route.test.js
  src/testing/login-router.js
Due: eslint --fix

Path conditions:
  eslint --fix: (((any of: src/**/*.js) or (any of: src/**/*.ts)) or (any of: src/**/*.jsx)) or (any of: src/**/*.tsx)
  prettier --write: any of: package.json
